.chat-container {
    height: 100%;
    width: 100%;
    /* min-height: calc(100vh - 56px); */
}

.chat-container-height {
    min-height: calc(100vh - 56px);
}

.chat-container>.chat-container>ul {
    display: flex;
    flex-direction: column;

}

.chat-message-item {
    padding: 0.25rem;
    overflow-wrap: normal;
    margin-bottom: 0.25rem;
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

/* .chat-message-item>div {
    padding: 0.75rem;
} */

.chat-message-item.my {
    align-self: flex-end;
}

.chat-message-item.other {
    align-self: flex-start;
}

/* 
.chat-message-item.my>div,
.chat-message-item.other>div {
    border-radius: 0.75rem;
    border: 1px solid;
} */

.chat-message-item .displayname {
    padding: 0.25rem;
    text-transform: uppercase;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid #3f3f3f;
    text-align: center;
    font-weight: 600;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-message-item.my .displayname {
    align-self: flex-end;
}

.chat-message-item.system {
    align-self: center;
}


.chat-message-item .chat-message-item-content {
    padding: 0.75rem;

}

.chat-message-item.my .chat-message-item-content,
.chat-message-item.other .chat-message-item-content {
    border-radius: 0.75rem;
    border: 1px solid;
}