<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>Chat: Sample Azure Communication Services</title>
    @RenderSection("head", false)
    </head>
    <body>
        @RenderSection("beforeBody", false)
        @RenderBody()
        @RenderSection("afterBody", false)
    </body>
</html>